@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

:root{
    --background:#FFE6C9;
    --font-color:#525252;
    --font-gray:#A1A1A1;
    --roxo:#7F265B;
    --btn-google:#E8E8E8;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background);
}

.container{
    position: relative;
    display: flex;
    background-color: #fff;
    padding:.3rem;
    border-radius:1.5rem;
}

.img{
    position: relative;
    width: 45vw;
}

.img img{
    width: 100%;
    display: block;/*resolvido a margem em baixo da imagem*/
    border-top-left-radius:1.5rem;
    border-bottom-left-radius:1.5rem;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TEXTO DE CIMA DO  FORMULÁRIO */

.container-form{
    padding: 2rem;
}

.text-form{
    gap: .05rem;
    justify-content: center;
    margin-inline: 2rem;
}

.text-form h1,h6,span{
    margin: 0;
    display: block;
}

.text-form h1{
    font-size: 2rem;
    color: var(--font-color);
}

.text-form h6{
    font-weight:normal;
}

.text-form h6,span{
    font-size: .97rem;
}

.text-form span{
    color: var(--font-gray);
    margin-block: 1rem;
}

#google-login{
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border:1px solid  var(--btn-google);
    box-shadow: none;
}


#google-login img{
    width: 1.6vw;
}
/* FORMULÁRIO */

#formulario{
    margin-block: 2rem;
    width: 100%;
    gap: 1rem;
}

.container-input{
    width: 100%;
}

#formulario label{
   align-self: flex-start;
}

#formulario label{
    font-size: 1rem;
    font-weight:700;
    color: var(--font-color);
}

#formulario input[type="email"],
#formulario input[type="password"],
button{
    border: 1px solid var(--font-gray);
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
    height: 6vh;
}

#formulario input[type="email"]:focus,
#formulario input[type="password"]:focus{
    outline: none;
    border:1px solid var(--font-color);
}

button{
    width: 101%;
    height:7vh;
    border: none;
    background-color: var(--roxo);
    color: #fff;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    line-height: 7vh;
}

button:hover{
    border:transparent;
    box-shadow: 1px 1px 1px 2px #7F265B;
}

#help-password{
    display: flex;
    justify-content: space-between;
}

#container-remember{
    display: flex;
}

#container-remember label{
    font-weight: normal;
}

#help-password input[type="checkbox"]{
    width: 15px;
    margin-left: 0;
    accent-color: var(--roxo);/*Mudando a cor do checkbox*/
}

.forgot{
    color: var(--font-gray);
}

.forgot a{
    text-decoration: none;
    font-weight: 700;
    color: var(--roxo);
}
